.img_wrap {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.img_wrap img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #bbb;
  object-fit: cover;
}
.check {
  position: absolute;
  right: 5px;
  top: 5px;
}