.letter_card {
  display: flex;
  flex-direction: column;
  background-color: #f4e8df;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-height: 200px;
}

.card_content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: 'EarlyFontDiary', sans-serif;
}

.card_content p {
  font-size: 16px;
}

.card_footer {
  margin-top : 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nickname {
  font-weight: bold;
}

.timestamp {
  font-size: 12px;
  color: #777;
}
.view{
  font-size: 12px;
  color: #777;
}
.not_view{
  font-size: 12px;
  color : #3b82f6;
}

.other_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  gap : 10px;
}

.edit_wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap : 16px;
  margin-top : 10px;
}
.edit_wrap button {
  background: none;
  border: none;
  font-size: 20px;
  color : #444;
}
