.female {
  width: 250px;
  aspect-ratio: 1/1;
  background: url(https://couple-diary.s3.ap-northeast-2.amazonaws.com/assets/envelope_1.png) #fdf2f8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-size: cover;
  font-family: "EarlyFontDiary", sans-serif;
  position: relative;
  border-radius: 1em;
  cursor: pointer;
  overflow: hidden;
}

.male {
  width: 250px;
  aspect-ratio: 1/1;
  background: url(https://couple-diary.s3.ap-northeast-2.amazonaws.com/assets/envelope_2.png) #eff6ff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-size: cover;
  font-family: "EarlyFontDiary", sans-serif;
  position: relative;
  border-radius: 1em;
  cursor: pointer;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 40%;
  left: 48%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.date {
  font-size: 14px;
  margin-top: 10px;
}

.view_band {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
  background-color: #f3e8ff;
  transform: rotate(-45deg) translate(-50px, -20px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
