.card {
  width: 100%;
  aspect-ratio: 5/3;
  background: url(../../public/images/background1.png) #fdf2f8;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 500px;
  position: relative;
}

.profile{
  width: 25%;
  position: absolute;
  top : 10%;
  left : 8%;
}
.profile img{
  width: 100%;
  border-radius: 1em;
}