.top_container{
  background-color: #fff;
  z-index: 99;
  position: sticky;
  top : 0;
  width: 100%;
  margin : 0 auto;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 100;
  max-width: 1280px;
  margin : 0 auto;
}
.icon_wrap{
  margin-right: 30px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}