.container {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  max-width: 500px;
  min-width: 200px;
  height: 100vh;
  background-color: #fff;
  overflow: auto;
  animation-name: slide;
  animation-duration: 250ms;
}
@keyframes slide {
  from {
    width: 0%;
    min-width: 0px;
  }
  to {
    width: 60%;
    min-width: 200px;
  }
}

.header {
  height: 30vh;
  background: #fbcfe8;
  background: linear-gradient(90deg, #fbcfe8 0%, #bfdbfe 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close_btn {
  background: none;
  border: none;
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 24px;
  color: #555;
  cursor: pointer;
}

.nav {
  padding: 20px 40px;
  padding-top: 40px;
  margin-bottom: 20px;
}
.nav_wrap {
  text-align: right;
  margin-bottom: 30px;
}
.nav_title {
  color: #666;
  padding-bottom: 5px;
  border-bottom: 1px solid #dbeafe;
  font-size: 18px;
}
.detail {
  font-size: 16px;
  margin: 10px 0;
}
