.profile_wrap {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.profile_wrap img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
.link {
  margin-top : 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.link_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-color: #eff6ff;
  font-size: 20px;
}
